<h1 class="mat-display-1;" style="text-align: center;  margin-top: 1%;">Подношење жалбе на ћутање управе</h1>
<h3 class="mat-display-1;" style="text-align: center;  margin-top: 1%;">ЖАЛБА КАДА ОРГАН ВЛАСТИ НИЈЕ ПОСТУПИО/ није поступио у целости/ ПО ЗАХТЕВУ ТРАЖИОЦА У ЗАКОНСКОМ  РОКУ  (ЋУТАЊЕ УПРАВЕ)</h3>

<div style="padding-left: 10%;padding-right: 10%;padding-bottom: 2%">
    <div id="zalbaCutanje"></div>
    <button [disabled]="disabled" style="margin-left: 45%;margin-right: 45%" type="submit" mat-raised-button color="primary" (click)="submit()">Pošаlji</button>
</div>




