# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\XML\XML_TIM7\apps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
