<mat-toolbar color="primary">

  <a routerLink="/main-page-poverenik" id="home-nav" style="margin-left: 0.1%;" ><mat-icon [ngStyle]="{'color':'white'}">emoji_people</mat-icon></a>
  <span>Portal poverenika</span>

  <span style="padding-left:5%" class="example-spacer"> </span>
  <a routerLink="/zalbe" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Zalbe</button></a>
  <a routerLink="/resenja" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Resenja</button></a>
  <a routerLink="/izjasnjavanja" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Izjasnjavanja</button></a>
  <a routerLink="/procitani-izvestaji" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Procitani izvestaji</button></a>
  <a routerLink="/neprocitani-izvestaji" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Neprocitani izvestaji</button></a>
  <a routerLink="/add-poverenik" style="margin-left: 0.5%"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Dodaj poverenika</button></a>
  <span style="width: 35%"></span>

  <a routerLink="/" style="margin-left: 0.5%;" ><mat-icon (click)="signOutUser()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon></a>

</mat-toolbar>
