<mat-toolbar color="primary">

  <a routerLink="/pocetna-stranica-poverenik" id="home-nav" style="margin-left: 0.1%;" ><mat-icon [ngStyle]="{'color':'white'}">domain</mat-icon></a>
  <span style="padding-left: 1%">Портал повереника</span>

  <span style="padding-left:5%" class="example-spacer"> </span>
  <a routerLink="/zalbe" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Жалбе</button></a>
  <a routerLink="/resenja" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Решење</button></a>
  <a routerLink="/izjasnjavanja" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Изјашњавање</button></a>
  <a routerLink="/procitani-izvestaji" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Прочитани извештаји</button></a>
  <a routerLink="/neprocitani-izvestaji" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Непрочитани извештаји</button></a>
  <a routerLink="/dodaj-poverenika" style="margin-left: 0.5%"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Додај повереника</button></a>
  <span style="width: 35%"></span>
  <a routerLink="/profil" style="margin-right: 2%;" id="view-profile"><mat-icon [ngStyle]="{'color':'white'}">face</mat-icon></a>
  <a routerLink="/" style="margin-left: 0.5%;" ><mat-icon (click)="signOutUser()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon></a>

</mat-toolbar>
