<mat-toolbar color="primary">

  <a routerLink="/prijava" id="home-nav" style="margin-left: 3%;" ><mat-icon [ngStyle]="{'color':'white'}">domain</mat-icon></a>
  <span style="padding-left: 1%">Портал повереника</span>

  <span class="example-spacer" style="width: 75%"></span>
  <a routerLink="/prijava" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Пријава</button></a>
  <a routerLink="/registracija" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Регистрација</button></a>
</mat-toolbar>
