<div style="padding-top: 5%; width: 50%; padding-left: 20%">
  <app-table [columnsToDisplay]="['Id zalbe', 'Tip zalbe', 'ponisti', 'xhtml', 'pdf']"
             [columnsToIterate]="['id', 'tip']"
             (Ponisti)="ponistiZalba($event)" (PDF)="convertToPdfZalba($event)" (XHTML)="convertToXHTMLZalba($event)"
             [dataSource]="zalbe"></app-table>
</div>
<div style="padding-top: 5%; width: 50%; padding-left: 20%">
  <app-table [columnsToDisplay]="['Id resenja', 'xhtml', 'pdf']"
             [columnsToIterate]="['id']"
             (Ponisti)="ponistiResenje($event)" (PDF)="convertToPdfResenje($event)" (XHTML)="convertToXHTMLResenje($event)"
             [dataSource]="resenja"></app-table>
</div>
