

<div style="padding-top: 5%; width: 100%; padding-left: 2%">
  <mat-form-field appearance="outline" style="width: 35%">
    <mat-label> Pretraga po tekstu </mat-label>
    <input id="pretragaTekst" (input)="onTekstChanged($event.target.valueOf())" #inputField matInput placeholder="...">
  </mat-form-field>
</div>

<div style="width: 100%; padding-left: 2%">
  <form [formGroup]="form" (ngSubmit)="onSubmitClicked()">
    <mat-form-field appearance="outline" style="width: 10%">
      <mat-label> Mesto </mat-label>
      <input id="mesto" matInput placeholder="..." [formControl]="form.controls.mesto">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 10%;margin-left: 1%">
      <mat-label> Organ vlasti </mat-label>
      <input id="organVlasti" matInput placeholder="..." [formControl]="form.controls.organVlasti">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 10%;margin-left: 1%">
      <mat-label> Email poverenika </mat-label>
      <input id="poverenik" matInput placeholder="..." [formControl]="form.controls.poverenik">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 10%;margin-left: 1%">
      <mat-label> Email žalioca </mat-label>
      <input id="trazilac" matInput placeholder="..." [formControl]="form.controls.trazilac">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 10%;margin-left: 1%">
      <mat-label> Identifikator žalbe </mat-label>
      <input id="zalba" matInput placeholder="..." [formControl]="form.controls.zalba">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:10%;margin-left: 1%">
      <mat-label> Tip </mat-label>
        <mat-select [formControl]="form.controls.tip" id="tip" >
          <mat-option value=""> Sve </mat-option>
          <mat-option value="prihvacena"> Prihvaćena žalba </mat-option>
          <mat-option value="odbijena"> Odbijena žalba </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:10%;margin-left: 1%">
      <mat-label>Od:</mat-label>
      <input (dateChange)="onDatumAfterChanged($event)" id="datumAfter" [value]="form.controls.datumAfter.value | date: 'yyyy-MM-dd'" matInput [matDatepicker]="picker3">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:10%;margin-left: 1%">
      <mat-label>Do:</mat-label>
      <input (dateChange)="onDatumBeforeChanged($event)" id="datumBefore" [value]="form.controls.datumBefore.value | date: 'yyyy-MM-dd'" matInput [matDatepicker]="picker4">
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>
    <button id="submit" style="width:5%;margin-left: 1%;background-color: green" mat-raised-button type="submit">Pretraži</button>
  </form>
</div>



<div style="padding-top: 5%; width: 50%; padding-left: 20%">
  <app-table [columnsToDisplay]="['Broj resenja', 'xhtml', 'pdf']"
             [columnsToIterate]="['id']"
             [dataSource]="resenja" (PDF)="convertToPDF($event)" (XHTML)="convertToXHTML($event)"></app-table>
</div>
