<h1 class="mat-display-1;" style="text-align: center;  margin-top: 1%;">ОБАВЕШТЕЊЕ</h1>
<h3 class="mat-display-1;" style="text-align: center;  margin-top: 1%;">о стављању на увид документа који садржи тражену информацију и о изради копије</h3>

<div style="padding-left: 5%;padding-right: 5%;padding-bottom: 2%">
    <table>
        <tr>
            <td style="width:55%">
                <div id="obavestenje"></div>
            </td>
            <td style="width:40%;vertical-align:top">
                <div style="padding-left: 2%;padding-right: 2%;margin-top:2%">
                    <img style="max-width:600px" src="assets/obavjestenje-primjer.png"/>
                    <p style="text-align:center">Пример обавештења</p>
                </div>
            </td>
        </tr>
        <tr colspan="2">
            <button style="margin-left: 85%;margin-right: 45%" type="submit" mat-raised-button color="primary" (click)="submit()">Pošаlji</button>
        </tr>
    </table>
</div>

