<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="{{columnsToDisplay[i]}}" *ngFor="let column of columnsToIterate; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{columnsToDisplay[i]}} </th>
      <td id="row{{element.id}}" mat-cell *matCellDef="let element" (click)="clicked(element.id, element.tip)" (dblclick)="doubleClicked(element.id, element.tip)">{{element[column]}}</td>
    </ng-container>

    <ng-container matColumnDef="ponisti">
      <th mat-header-cell *matHeaderCellDef> Поништи </th>
      <td mat-cell *matCellDef="let element">  <button mat-stroked-button color="warn" (click)="ponisti(element.id, element.tip)" id="{{element.id}}">Поништи</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="xhtml">
      <th mat-header-cell *matHeaderCellDef> XHTML </th>
      <td mat-cell *matCellDef="let element">  <button mat-stroked-button color="accent" (click)="xhtml(element.id, element.tip)">XHTML</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="pdf">
      <th mat-header-cell *matHeaderCellDef> PDF </th>
      <td mat-cell *matCellDef="let element">  <button mat-stroked-button color="accent" (click)="pdf(element.id, element.tip)">PDF</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
