<mat-toolbar color="primary">

  <a routerLink="/main-page-organ-vlasti" id="home-nav" style="margin-left: 0.1%;" ><mat-icon [ngStyle]="{'color':'white'}">emoji_people</mat-icon></a>
  <span>Portal organa vlasti</span>

  <span style="padding-left:5%" class="example-spacer"> </span>
  <a routerLink="/zahtevi" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Zahtevi</button></a>
  <a routerLink="/obavestenja" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Obavestenja</button></a>
  <a routerLink="/procitana-resenja" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Procitana resenja</button></a>
  <a routerLink="/neprocitana-resenja" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Neprocitana resenja</button></a>
  <a routerLink="/izvestaji" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Godisnji izvestaji</button></a>
  <a routerLink="/izjasnjavanja" style="margin-left: 0.5%;"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Izjasnjavanja</button></a>
  <a routerLink="/dodaj-sluzbenika" style="margin-left: 0.5%"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Dodaj sluzbenika</button></a>
  <a routerLink="/kreiraj-izvestaj" style="margin-left: 0.5%"><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary">Kreiraj izvestaj</button></a>
  <span style="width: 35%"></span>

  <a routerLink="/" style="margin-left: 0.5%;" ><mat-icon (click)="signOutUser()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon></a>

</mat-toolbar>
