<div style="float: left; padding-top: 10%; width: 70%; border: solid 1px white">
  <app-empty [isTrusted]="true" [source]="src"></app-empty>
  <!--<img  [src]="this.src"/>-->
</div>


<div style="float: right; padding-top: 10%; padding-right: 20%">
  <button mat-raised-button [disabled]="!neobradjena" (click)="traziIzjasnjenje($event)">Trazi izjasnjenje</button>
  <br><br><br>
  <button mat-raised-button [disabled]="!uObradi" (click)="redirectToKreirajResenje($event)">Kreiraj resenje</button>
</div>
