# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Vukasin\Documents\Fakultet\Fakultet\7. semestar\XML\git\XML_TIM7\XML_dom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
